<!DOCTYPE html>


<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>소리 변환 프로그램</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- 제목-->
    <link rel="stylesheet" href="css/normalize.css">
    <link href='https://fonts.googleapis.com/css?family=Nunito:400,300' rel='stylesheet' type='text/css'>
</head>
<body>

<h1>flag</h1>

<div style="text-align:center; font-weight:bold; margin-top:30px">영어 듣기 파일을 실전과 같은 음질로 바꿔줍니다.</div>
<div style="text-align:center; font-weight:bold; margin-top:15px;">이제 이어폰 끼고 실전 음질을 만나보세요!</div>

<form id="trans" action="{{ url_for('upload')}}" method="post" enctype="multipart/form-data"
      style="margin-top: 40px;">

    <h3 align="center">mp3나 wav 파일을 선택해주세요.</h3>


    <fieldset>
        <!--          <legend><span class="number">1</span>About The Music</legend>-->
        <!--          <label for="name">Title:</label>-->
        <!--          <input type="text" id="title" name="music_title">-->

        <!--          <label for="mail">Singer:</label>-->
        <!--          <input type="text" id="singer" name="singer_name">-->

        <!--          <label for="description">First few lines:</label>-->
        <!--          <textarea id="description" name="description"></textarea>-->

        <label>File:</label>
        <input type="file" id="lc" name="lc" accept=".wav,.mp3" required>
        <div id="loading" style="text-align:center">
            <div class="loader" style="text-align:center"></div>
            <p>변환까지 3~5분 걸립니다.</p>
            <p>변환 후에 다운로드 페이지로 넘어갑니다.</p>
        </div>

    </fieldset>
    <button id="btn" type="submit" onclick="readURL()">Convert</button>
</form>


</body>

</html>
<script src="https://code.jquery.com/jquery-3.6.1.slim.min.js" integrity="sha256-w8CvhFs7iHNVUtnSP0YKEg00p9Ih13rlL9zGqvLdePA=" crossorigin="anonymous"></script>

<script>

$(document).ready(function() {
    $('#loading').hide();
    $('#trans').submit(function(){
        $('#loading').show();
        $('#lc').hide();
        return true;
        });
});
</script>
